@charset "utf-8";

.container{
  display: flex;
}
.left{
      flex: 2;
      background-image: url(/Users/sugiyamarei/Desktop/images/photo.jpg);
      background-repeat: no-repeat;
      background-position: left;
      background-attachment: fixed;
      background-size: contain;
}

   aside {
      flex: 1;
      background-image: url(/Users/sugiyamarei/Desktop/images/nature.jpg);
      background-repeat: no-repeat;
      background-position: right;
      background-attachment: fixed;
      background-size: contain;
   }
  .menu {
     margin: 200px;
     padding: 20px;
     width: 150px;
     height: 150px;
     font-size: 18px;
} 
  footer{
    clear: both;
    height: 30px;
    background-color: #ffffe0;
  }   
